<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h2 class="titulo_angular">Aprendiendo {{title}}</h2>

  <nav [ngClass]="['menu-principal']">
    <a [ngClass]="['link']" [routerLink]="['/pagina-principal']" [routerLinkActive]="['link-activo']">Inicio</a>
    <a [ngClass]="['link']" [routerLink]="['/empleado']" [routerLinkActive]="['link-activo']">Empleado</a>
    <a [ngClass]="['link']" [routerLink]="['/fruta']" [routerLinkActive]="['link-activo']">Fruta</a>
    <a [ngClass]="['link']" [routerLink]="['/contacto']" [routerLinkActive]="['link-activo']">Contacto</a>
  </nav>
  <!--<fruta></fruta>-->
  <!--<home></home>-->
  <!--<empleados></empleados>-->
  <router-outlet></router-outlet>
</div>
