<!--The content below is only a placeholder and can be replaced.-->
<nav [ngClass]="['menu-principal']">
  <a [ngClass]="['link']" [routerLink]="['/inicio']" [routerLinkActive]="['link-activo']">Inicio</a>
  <a [ngClass]="['link']" [routerLink]="['/empleados']" [routerLinkActive]="['link-activo']">Empleado</a>
  <a [ngClass]="['link']" [routerLink]="['/fruta']" [routerLinkActive]="['link-activo']">Fruta</a>
  <a [ngClass]="['link']" [routerLink]="['/contacto']" [routerLinkActive]="['link-activo']">Contacto</a>
  <a [ngClass]="['link']" [routerLink]="['/coches']" [routerLinkActive]="['link-activo']">Coches</a>
  <a [ngClass]="['link']" [routerLink]="['/plantillas']" [routerLinkActive]="['link-activo']">Plantillas</a>
</nav>
<admin></admin>